<h2 class="sr-only">Articulo principal</h2>
<article class="grid gap-2  lg:grid-cols-2 lg:col-span-2">
    <picture class="lg:col-span-2">
        <source class="w-full object-cover" srcset="./mainarticle-desktop.png" media="(min-width: 1024px)"/>

        <img class="w-full object-cover" src="./mainarticle-mobile.png" alt=" "/>
    </picture>

    <h3 class="text-4xl text-text1 font-bold lg:text-left">Volver a sonreir otra vez.</h3>

    <div class="flex flex-col items-center gap-4 lg:items-start lg:gap:2">
        <p class="text-text1/75">En nuestro ultimo estudio, durante 6 meses seguimos las vidas de 10 pacientes durante y despues de recibir P.I.T, concluyendo en que su calidad de vida mejoro un 70% </p>
        <a href="#" class="px-4 py-2 text-text2 font-semibold bg-lightBlue1 rounded">READ MORE <span class="sr-only">about (this dynamic content)</span></a>
    </div>
</article>
