<footer class="relative left-1/2 -translate-x-1/2 w-screen mx-auto py-16 mt-8 bg-text1 lg:flex-row">
    <div class="flex flex-col items-center gap-8 px-4 mx-auto max-w-screen-xl lg:flex-row lg:justify-between">
        <p class="text-2xl text-text2 font-extrabold lg:self-start">Escuela de P.I.T</p>
        <nav class="grid grid-flow-row gap-4 text-text2 text-center lg:grid-flow-col lg:grid-cols-3 lg:gap-8 lg:text-left">
            <ul>
                <li><a href="https://escuela-de-pit.vercel.app/">Página Principal</a></li>
                <li><a href="https://escuela-de-pit.vercel.app/cursos">Cursos</a></li>
                <li><a href="https://escuela-de-pit-blog.vercel.app/">Artículos</a></li>
                <li><a href="https://escuela-de-pit.vercel.app/sobre-nosotros">Sobre Nosotros</a></li>
            </ul>
            <ul>
                <li><a href="https://escuela-de-pit.vercel.app/profesionales">Listado de profesionales</a></li>
                <li><a href="https://reddit.com">Comunidad</a></li>
                <li><a href="https://escuela-de-pit.vercel.app/contacto">Contacto</a></li>
            </ul>
            <ul class="flex justify-center gap-2 text-text2">
                <li><a><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://x.com"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://reddit.com"><i class="fa-brands fa-reddit"></i></a></li>
                <li><a href="https://linkedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </nav>
    </div>
</footer>