<header class='flex justify-between items-center p-4 mb-8'>
    <a href="#" class='text-2xl text-text1 font-black'>Escuela de P.I.T</a>
    <nav class='hidden lg:block'>
        <ul class='flex items-center gap-6'>
            <li class='text-text1/50 font-bold'><a href="#">Sobre nosotros</a></li>
            <li class='text-text1/50 font-bold'><a href="#">Cursos</a></li>
            <li class='text-text1/50 font-bold'><a href="#">Articulos</a></li>
            <li class='text-text1/50 font-bold'><a href="#">Listado de profesionales</a></li>
            <li class='text-text1/50 font-bold'><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <i class="fa-solid fa-bars lg:hidden text-xl"></i>
</header>