

<header class='flex justify-between items-center p-4 mb-8'>
    <a href="https://escuela-de-pit.vercel.app/" class='text-2xl text-text1 font-black'>Escuela de P.I.T</a>
    <nav class='hidden lg:block'>
        <ul class='flex items-center gap-6'>
            <li class='text-text1/50 font-bold transition-colors hover:text-lightBlue1'><a href="https://escuela-de-pit.vercel.app/sobre-nosotros">Sobre nosotros</a></li>
            <li class='text-text1/50 font-bold transition-colors hover:text-lightBlue1'><a href="https://escuela-de-pit.vercel.app/cursos">Cursos</a></li>
            <li class='text-text1/50 font-bold transition-colors hover:text-lightBlue1'><a href="https://escuela-de-pit-blog.vercel.app/">Articulos</a></li>
            <li class='text-text1/50 font-bold transition-colors hover:text-lightBlue1'><a href="https://escuela-de-pit.vercel.app/profesionales">Listado de profesionales</a></li>
            <li class='text-text1/50 font-bold transition-colors hover:text-lightBlue1'><a href="https://escuela-de-pit.vercel.app/contacto">Contacto</a></li>
        </ul>
    </nav>
    <i class="open-btn fa-solid fa-bars lg:hidden text-xl"></i>
</header>

