<article>
    <h2 class="text-2xl text-text1">Lo Ultimo</h2>
    
    <ul  class="divide-y divide-text1">
        <li>
            <article class="py-2">
                <h3 class="text-xl text-text1 font-semibold">Nuevos hallazgos junto a la U.B.A</h3>
                <p class="text-text1/75">lorem ipsum dolor</p>
            </article>
        </li>
        <li>
            <article class="py-2">
                <h3 class="text-xl text-text1 font-semibold">Nuevos hallazgos junto a la U.B.A 2</h3>
                <p class="text-text1/75">lorem ipsum dolor</p>
            </article>
        </li>
        <li>
            <article class="py-2">
                <h3 class="text-xl text-text1 font-semibold">Nuevos hallazgos junto a la U.B.A 3</h3>
                <p class="text-text1/75">lorem ipsum dolor</p>
            </article>
        </li>
    </ul>
</article>