
<div  class="menu hidden fixed top-0 z-40 h-dvh w-full bg-text1/50">
    <div class="fixed top-0 right-0 bottom-0 z-50 flex flex-col items-end gap-4 p-4 bg-lightBlue1">
        <i class="close-btn fa-solid fa-xmark text-text2"/>
        <nav>
            <ul class='flex flex-col gap-4 p-6 text-center bg-white rounded-md'>
                <li class='text-text1/75 font-bold'><a href="https://escuela-de-pit.vercel.app/sobre-nosotros">Sobre nosotros</a></li>
                <li class='text-text1/75 font-bold'><a href="https://escuela-de-pit.vercel.app//cursos">Cursos</a></li>
                <li class='text-text1/75 font-bold'><a href="https://escuela-de-pit-blog.vercel.app/">Articulos</a></li>
                <li class='text-text1/75 font-bold'><a href="https://escuela-de-pit.vercel.app//profesionales">Listado de profesionales</a></li>
                <li class='text-text1/75 font-bold'><a href="https://escuela-de-pit.vercel.app/contacto">Contacto</a></li>
            </ul>
        </nav>
    </div>
</div>