
<ul class="grid gap-4 lg:grid-flow-col lg:col-span-3 lg:gap-8">
    <li>
        <article>
            <img class="w-full object-cover" class="w-full object-cover" src="./otherarticle.png" alt=" ">
            <h3 class="text-2xl text-text1 font-bold">Lesiones deportivas y P.I.T</h3>
            <p class="text-text1/85">Lorem ipsum</p>  
        </article>
    </li>
    <li>
        <article>
            <img class="w-full object-cover" src="./otherarticle.png" alt=" ">
            <h3 class="text-2xl text-text1 font-bold">Lesiones deportivas y P.I.T</h3>
            <p class="text-text1/85">Lorem ipsum</p>  
        </article>
    </li>
    <li>
        <article>
            <img class="w-full object-cover" src="./otherarticle.png" alt=" ">
            <h3 class="text-2xl text-text1 font-bold">Lesiones deportivas y P.I.T</h3>
            <p class="text-text1/85">Lorem ipsum</p>  
        </article>
    </li>
</ul>
<a href="#" class="text-text1 underline place-self-center lg:col-span-3">Ver todos <span class="sr-only">los articulos</span></a>