---
import { loadQuery } from "../sanity/lib/load-query.ts";

const { data: articles } = await loadQuery<{_createdAt: string; _id: string; title: string; mainImage: {alt: string, asset: {url: string}}}>({
    query: `*[_type == "post"] | order(_createdAt desc) {
        _createdAt,
        _id,
        title,
        "mainImage": mainImage{
            alt,
            asset->{
                url
            }
        } 

    } [0...3]`
});

console.log(articles);

---
    
<ul class="grid grid-flow-col gap-6">
    {articles.map((article) => <li class="space-y-2">
                                    <img class="block w-full object-fill h-[320px] max-h-[320px] " src={article.mainImage.asset.url} src={article.mainImage.alt}/>
                                    <h3 class="text-xl text-text1 font-bold">{article.title}</h3>                                    
                                </li>)}
</ul>


