---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MobileMenu from "../components/MobileMenu.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script src="https://kit.fontawesome.com/33949f79d9.js" crossorigin="anonymous"></script>
  </head>
  <body class="max-w-screen-xl mx-auto overflow-x-hidden">
    <Header />
        <main class="p-4">
            <slot />
        </main>
    <Footer />
    <MobileMenu />
  </body>

  <script>
    const openBtn = document.querySelector(".open-btn");
    const menu = document.querySelector(".menu");
    openBtn.addEventListener("click", () => menu.classList.toggle("hidden"));

	  const closeBtn = document.querySelector(".close-btn");
    closeBtn.addEventListener("click", () => menu.classList.toggle("hidden"));
  </script>
</html>